#cliffs header{
    background: no-repeat lightgray url(images/forest_cliff.jpeg);
    background-size: 1500px;
}
h1{
    color:#9ed034;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}
main #cliff-album #photos {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px 10px 5px ;
    display: inline-block;
    align-items: center;
}
main #cliff-album #photos img{
    width: 400px;
}
ul{
    list-style-type: none;
}