/* headers for all pages*/
header {
    background: no-repeat lightgray url(images/cliff_ocean.jpg);
    width: 100%;
    height: 400px;
    min-height: 400px;
    padding-top: 3em;
}
#home header{
    background: no-repeat lightgray url(images/cliff_ocean.jpg);
    background-size: 1500px;
}

#activities header{
    background: no-repeat lightgray url(images/runfly.jpeg);
    background-size: 1500px;
}

#contact header{
    background: no-repeat lightgray url(images/cliff_rock.jpeg);
    background-size: 1500px;

}
#cliffs header{
    background: no-repeat lightgray url(images/forest_cliff.jpeg);
    background-size: 1500px
}

.main-header {
    background-color:rgb(255, 255,255, 0.8);
    width: 75%;
    min-height: 100px;
    height: 100px;
}

.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 1em 0 0;
    float: left;
}
/* nav bar*/
main-menu {
margin-left: 227px;
font-weight: 400;
}
.main-menu ul li {
    list-style-type:none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888
}

.main-menu ul li a:hover {
    color: #9ed034;
}

.main-menu ul li.active {
    background: #9ed034;
    border: none;
}

.main-menu ul li.active a {
    color: #fff;
}
/* main page*/
h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #9ed034;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#clock{
    text-align: center;
    height: 30px;
    background-image: linear-gradient(rgb(93, 196, 255), rgb(255, 229, 80));
}
/* partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {
    width: 1000px;
    padding: 2em 0 2em 0;
    margin: auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 .5em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 80px;
    height: 80px;
}
/*contacts page*/
legend {
    color: #3B5998;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;   
}
fieldset {
    border-color: #9ed034;
}

/* footer for all pages*/
footer {
   width: 100%; 
   height: 100px;
   padding-bottom: 1em;
   background-color: #ecfab8;
}
footer #nondisclaimer .copy{
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 1em;
}
footer #nondisclaimer .social{
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa{
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover{
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook{
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter{
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram{
    background: #125688;
    color: white;
}
/*contact page*/
.title {
    color: #9ed034;
    font-family: sans-serif ;
}
.cinfo {
    display: block;
}
.cinfo, .info {
    padding-bottom: 2px;
    padding-top: 5px;
}
.info-box {
    width: 75%;
}
.text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    word-spacing: 2px;
    letter-spacing: .9px;
    line-height: 22px;
}
.response {
    width: 75%;
    height: 200px;
}
.button {
    margin-left: 86%;
    /*background: #3B5998;*/
    color: #fff;
    padding: 10px 5px 10px 15px;
}
form label{
    font-weight: bold;
}
.phone .cinfo {
    font-weight: bold;
}
.email .cinfo {
    font-weight: bold;
}

